@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  src: url('../fonts/Spoqa Han Sans Thin.woff') format('woff');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('../fonts/Spoqa Han Sans Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('../fonts/Spoqa Han Sans Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('../fonts/Spoqa Han Sans Bold.woff') format('woff');
  font-weight: 700;
}